<a [href]="repo.url" target="_blank">
  <div class="card">
    <h3>
      {{ repo.title | slice: 0:titleCharLimit
      }}{{ repo.title.length > titleCharLimit ? "..." : "" }}
    </h3>
    <p class="description">
      <span *ngIf="repo.description">
        {{ repo.description | slice: 0:descriptionCharLimit
        }}{{ repo.description.length > descriptionCharLimit ? "..." : "" }}
      </span>
    </p>
    <div class="stats">
      <div *ngIf="repo.language" class="language">
        <div
          class="bullet"
          [ngStyle]="{ backgroundColor: getLanguageColor(repo.language) }"
        ></div>
        <p>{{ repo.language }}</p>
      </div>
      <div class="stars">
        <img class="star" src="assets/card-star.svg" alt="star" />
        <p>{{ repo.stars | number: "1.0":"en-US" }}</p>
      </div>
      <div class="forks">
        <img class="fork" src="assets/card-fork.svg" alt="fork" />
        <p>{{ repo.forks | number: "1.0":"en-US" }}</p>
      </div>
      <div class="size">
        <p>{{ repo.size | number: "1.0":"en-US" }} KB</p>
      </div>
    </div>
  </div>
</a>
