@import "../../shared/styles/mixins";
@import "../../shared/styles/colors";

.main--wrapper {
  display: flex;
  justify-content: center;
  //   .landing--background {
  //     position: absolute;
  //     z-index: -1;
  //   }
}

.main--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @include flexCenter();
    text-align: center;
    width: 343px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: "salt" on, "liga" off;
    color: $gray900;
  }
}

.search--container {
  width: 340px;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 22px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 5px;
  form {
    margin: 0 12px;
    height: 20px;
    width: 100%;
  }
  input {
    height: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    &::placeholder {
      color: $gray700;
    }
  }
  .delete {
    cursor: pointer;
  }
}

.error--section {
  display: flex;
  align-items: center;
  p {
    max-width: 420px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    margin-left: 14px;
    color: #c72393;
  }
}

.quote--wrapper {
  .quote {
    margin-bottom: 2.25em;
    width: 854px;
    box-sizing: border-box;
    padding: 30px 30px 26px 90px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 10px;
    position: relative;
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      font-feature-settings: "salt" on, "liga" off;
      color: $gray900;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: flex;
        width: 40px;
        height: 32px;
        background-image: url("./../../../../assets/quote.svg");
        background-repeat: no-repeat;
        left: -3.2em;
        top: -0.2em;
      }
    }
    .trianlge {
      background: #ffffff;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin: 0 0 0 -18px;
      transform: rotate(45deg);
    }
  }
  .creator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      margin-right: 16px;
    }
    .text {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
        color: $gray900;
        line-height: 28px;
      }
      .title {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 14px;
        color: $gray900;
        line-height: 24px;
      }
    }
  }
}
