<app-header></app-header>
<div class="main--wrapper">
  <div class="container">
    <!-- <img
      class="landing--background"
      src="assets/landing-bg.svg"
      alt="background"
    /> -->

    <div class="main--container">
      <h2>Get your own OctoProfile</h2>
      <div class="search--container">
        <img src="assets/icons/search.svg" alt="search" />
        <form [formGroup]="usernameForm">
          <input
            formControlName="username"
            type="text"
            placeholder="Your GitHub username"
            spellcheck="false"
            (keyup.enter)="submit()"
          />
        </form>
        <img
          *ngIf="inputHasText"
          (click)="resetInput()"
          class="delete"
          src="assets/icons/delete.svg"
          alt="Delete"
        />
      </div>
      <div class="error--wrapper">
        <div
          class="error--section"
          *ngIf="
            usernameForm.get('username')?.errors && firstErrorMsg != 'required'
          "
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.9844 10.9844V4.98438H9.01562V10.9844H10.9844ZM10.9844 15.0156V13H9.01562V15.0156H10.9844ZM2.92188 2.96875C4.89062 1 7.25 0.015625 10 0.015625C12.75 0.015625 15.0938 1 17.0312 2.96875C19 4.90625 19.9844 7.25 19.9844 10C19.9844 12.75 19 15.1094 17.0312 17.0781C15.0938 19.0156 12.75 19.9844 10 19.9844C7.25 19.9844 4.89062 19.0156 2.92188 17.0781C0.984375 15.1094 0.015625 12.75 0.015625 10C0.015625 7.25 0.984375 4.90625 2.92188 2.96875Z"
              fill="#F22BB2"
            />
          </svg>
          <p *ngIf="firstErrorMsg == 'maxlength'">
            Username is too long (maximum is 39 characters).
          </p>
          <p *ngIf="firstErrorMsg == 'unvalidUsername'">
            Username may only contain alphanumeric characters or single hyphens,
            and cannot begin or end with a hyphen.
          </p>
        </div>
        <div
          class="error--section"
          *ngIf="
            usernameForm.get('username')?.errors &&
            firstErrorMsg == 'required' &&
            usernameForm.touched
          "
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.9844 10.9844V4.98438H9.01562V10.9844H10.9844ZM10.9844 15.0156V13H9.01562V15.0156H10.9844ZM2.92188 2.96875C4.89062 1 7.25 0.015625 10 0.015625C12.75 0.015625 15.0938 1 17.0312 2.96875C19 4.90625 19.9844 7.25 19.9844 10C19.9844 12.75 19 15.1094 17.0312 17.0781C15.0938 19.0156 12.75 19.9844 10 19.9844C7.25 19.9844 4.89062 19.0156 2.92188 17.0781C0.984375 15.1094 0.015625 12.75 0.015625 10C0.015625 7.25 0.984375 4.90625 2.92188 2.96875Z"
              fill="#F22BB2"
            />
          </svg>
          <p>Username is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
