@import "../../styles/mixins";
@import "../../styles/colors";

:host {
  position: relative;
  z-index: 30;
  @include flexCenter();
  width: 100%;
  height: 72px;
  background-color: #000000;
  color: $gray300;
  @media (max-width: 800px) {
    height: 180px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
  }
  .built__with {
    font-weight: normal;
    font-size: 14px;
    a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 800px) {
      display: flex;
      align-items: center;
      margin: 0;
      height: 32px;
    }
  }
  .logo {
    height: 28px;
  }
  .social {
    display: flex;
    gap: 1em;
  }
}

.element {
  width: 100%;
  @media (max-width: 800px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
