<div class="container">
  <a [routerLink]="['/']" class="logo"
    ><img src="assets/logo.svg" alt="Logo"
  /></a>

  <div class="cta--section">
    <a
      aria-label="Read the docs"
      data-microtip-position="bottom"
      role="tooltip"
      href="https://github.com/carlos-dubon/octoprofile/blob/main/README.md"
      class="btn--secondary"
      target="_blank"
      >README.md</a
    >
    <a
      aria-label="Open the GitHub repo"
      data-microtip-position="bottom"
      role="tooltip"
      href="https://github.com/carlos-dubon/octoprofile"
      class="btn--primary"
      target="_blank"
      >View on GitHub</a
    >
  </div>
</div>
