<div class="hero--wrapper">
  <div class="hero--main">
    <div class="container">
      <div class="github__repo--container">
        <a
          aria-label="Open the GitHub repo"
          data-microtip-position="bottom"
          role="tooltip"
          href="https://github.com/carlos-dubon/octoprofile"
          target="_blank"
          class="github__repo--cta"
        >
          <img src="assets/icons/github-hero.svg" alt="github" />
          <p>Contribute</p>
        </a>
      </div>
      <div class="profile--photo">
        <div class="photo--container">
          <img
            *ngIf="photo"
            loading="lazy"
            [src]="photo"
            [alt]="id"
            class="photo"
          />
        </div>
      </div>
      <div class="name">
        <h2>
          {{ name }}
        </h2>
        <a
          aria-label="View GitHub profile"
          data-microtip-position="top"
          role="tooltip"
          [href]="githubUrl"
          target="_blank"
          >@{{ id }}</a
        >
      </div>
      <div class="user--info">
        <div *ngIf="workplace" class="workplace">
          <img src="assets/icons/work.svg" alt="workplace" />
          {{ workplace }}
        </div>
        <div *ngIf="location" class="location">
          <img src="assets/icons/gps.svg" alt="location" />
          {{ location }}
        </div>
        <div *ngIf="creationDate" class="creation__date">
          <img src="assets/icons/calendar.svg" alt="creation date" />
          Joined {{ creationDate | date }}
        </div>
      </div>
    </div>
  </div>
</div>
<main-stats [userMainStats]="userMainStats"></main-stats>
<app-charts></app-charts>
<app-repos></app-repos>
<app-footer></app-footer>
