<div class="browse__repos--section">
  <div class="container">
    <div class="header">
      <h2>Browse the repos</h2>
      <p>Sort through the repos by name, number of stars, forks, and size.</p>
    </div>
    <div class="search--container">
      <img src="assets/icons/search.svg" alt="search" />
      <form [formGroup]="reposForm">
        <input
          formControlName="input"
          type="text"
          [placeholder]="searchPlaceholder"
          spellcheck="false"
        />
      </form>
      <svg
        *ngIf="this.reposForm.get('input').value"
        (click)="reposForm.get('input').reset()"
        class="delete"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="20" height="20" rx="10" fill="#E0E0E0" />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.53553 6.53551C6.77961 6.29143 7.17534 6.29143 7.41942 6.53551L10.0711 9.18716L12.7227 6.53551C12.9668 6.29143 13.3625 6.29143 13.6066 6.53551C13.8507 6.77959 13.8507 7.17532 13.6066 7.41939L10.955 10.071L13.6066 12.7227C13.8507 12.9668 13.8507 13.3625 13.6066 13.6066C13.3625 13.8507 12.9668 13.8507 12.7227 13.6066L10.0711 10.9549L7.41942 13.6066C7.17534 13.8507 6.77961 13.8507 6.53553 13.6066C6.29146 13.3625 6.29146 12.9668 6.53553 12.7227L9.18718 10.071L6.53553 7.41939C6.29146 7.17532 6.29146 6.77959 6.53553 6.53551Z"
          fill="#18191F"
          fill-opacity="0.6"
        />
      </svg>
      <div class="vertical--separator"></div>
      <div class="current__filter--box" (click)="toggleMenu()">
        <p class="current--filter">{{ currentFilter.value }}</p>
        <div
          #menuBtn
          [ngClass]="{
            'select--arrow': true,
            'rotate--animation__in': menuOpened,
            'rotate--animation__out': !menuOpened
          }"
        >
          <img src="assets/select-arrow.svg" alt="arrow" />
        </div>
      </div>

      <div
        [ngClass]="{
          'filter__options--wrapper': true,
          'hide--dropdown__menu': !menuOpened
        }"
      >
        <div
          (click)="setFilter('Stars')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Stars' ? true : false
          }"
        >
          Stars
        </div>
        <div
          (click)="setFilter('Forks')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Forks' ? true : false
          }"
        >
          Forks
        </div>
        <div
          (click)="setFilter('Size')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Size' ? true : false
          }"
        >
          Size
        </div>
      </div>
    </div>
    <div class="pattern">
      <img src="assets/repos-pattern.svg" alt="pattern" />
    </div>
  </div>
</div>

<div class="repositories--wrapper">
  <img class="dots" src="assets/repo-section-dots.svg" />
  <img class="dots__secondary" src="assets/repo-section-dots.svg" />
  <div class="container" *ngIf="pageOfRepos.length > 0; else noReposFound">
    <repo-card
      *ngFor="let repo of pageOfRepos"
      [repo]="{
        title: repo.name,
        url: repo.html_url,
        description: repo.description,
        language: repo.language,
        stars: repo.stargazers_count,
        forks: repo.forks_count,
        size: repo.size
      }"
    ></repo-card>
  </div>
</div>

<div class="pagination--controls">
  <jw-pagination
    [items]="repositories"
    [pageSize]="pageSize"
    [maxPages]="maxPages"
    (changePage)="onChangePage($event)"
  ></jw-pagination>
</div>

<ng-template #noReposFound>
  <div class="no__repos__found">
    <h3>Oops!</h3>
    <div class="text">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.9844 10.9844V4.98438H9.01562V10.9844H10.9844ZM10.9844 15.0156V13H9.01562V15.0156H10.9844ZM2.92188 2.96875C4.89062 1 7.25 0.015625 10 0.015625C12.75 0.015625 15.0938 1 17.0312 2.96875C19 4.90625 19.9844 7.25 19.9844 10C19.9844 12.75 19 15.1094 17.0312 17.0781C15.0938 19.0156 12.75 19.9844 10 19.9844C7.25 19.9844 4.89062 19.0156 2.92188 17.0781C0.984375 15.1094 0.015625 12.75 0.015625 10C0.015625 7.25 0.984375 4.90625 2.92188 2.96875Z"
          fill="#F22BB2"
        />
      </svg>
      <p>No repositories were found</p>
    </div>
  </div>
</ng-template>
