<div class="browse__repos--section">
  <div class="container">
    <div class="header">
      <h2>Browse the repos</h2>
      <p>Sort through the repos by name, number of stars, forks, and size.</p>
    </div>
    <div class="search--container">
      <img src="assets/icons/search.svg" alt="search" />
      <form [formGroup]="reposForm">
        <input
          formControlName="input"
          type="text"
          placeholder="The name of the repository"
          spellcheck="false"
        />
      </form>
      <svg
        *ngIf="this.reposForm.get('input').value"
        (click)="reposForm.get('input').reset()"
        class="delete"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="20" height="20" rx="10" fill="#E0E0E0" />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.53553 6.53551C6.77961 6.29143 7.17534 6.29143 7.41942 6.53551L10.0711 9.18716L12.7227 6.53551C12.9668 6.29143 13.3625 6.29143 13.6066 6.53551C13.8507 6.77959 13.8507 7.17532 13.6066 7.41939L10.955 10.071L13.6066 12.7227C13.8507 12.9668 13.8507 13.3625 13.6066 13.6066C13.3625 13.8507 12.9668 13.8507 12.7227 13.6066L10.0711 10.9549L7.41942 13.6066C7.17534 13.8507 6.77961 13.8507 6.53553 13.6066C6.29146 13.3625 6.29146 12.9668 6.53553 12.7227L9.18718 10.071L6.53553 7.41939C6.29146 7.17532 6.29146 6.77959 6.53553 6.53551Z"
          fill="#18191F"
          fill-opacity="0.6"
        />
      </svg>
      <div class="vertical--separator"></div>
      <div class="current__filter--box" (click)="toggleMenu()">
        <p class="current--filter">{{ currentFilter.value }}</p>
        <div
          #menuBtn
          [ngClass]="{
            'select--arrow': true,
            'rotate--animation__in': menuOpened,
            'rotate--animation__out': !menuOpened
          }"
        >
          <img src="assets/select-arrow.svg" alt="arrow" />
        </div>
      </div>

      <div
        [ngClass]="{
          'filter__options--wrapper': true,
          'hide--dropdown__menu': !menuOpened
        }"
      >
        <div
          (click)="setFilter('Stars')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Stars' ? true : false
          }"
        >
          Stars
        </div>
        <div
          (click)="setFilter('Forks')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Forks' ? true : false
          }"
        >
          Forks
        </div>
        <div
          (click)="setFilter('Size')"
          [ngClass]="{
            option: true,
            'option--active': currentFilter.value == 'Size' ? true : false
          }"
        >
          Size
        </div>
      </div>
    </div>
    <div class="pattern">
      <img src="assets/repos-pattern.svg" alt="pattern" />
    </div>
  </div>
</div>

<div *ngFor="let item of pageOfRepos">{{ item.name | json }}</div>
<jw-pagination [items]="repositories" (changePage)="onChangePage($event)"></jw-pagination>