@import "./../../styles/colors";
@import "./../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search--container {
  width: 340px;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 22px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 5px;
  form {
    margin: 0 12px;
    height: 20px;
    width: 100%;
  }
  input {
    height: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    &::placeholder {
      color: $gray700;
    }
  }
  .delete {
    cursor: pointer;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
}

.error--wrapper {
  margin: 1em 0 2.8em 0;
}

.error--section {
  display: flex;
  align-items: center;
  p {
    max-width: 420px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    margin: 0;
    margin-left: 14px;
    color: #c72393;
  }
}
