<app-header></app-header>
<div class="main--wrapper">
  <div class="container">
    <img
      class="landing--background"
      src="assets/landing-bg.svg"
      alt="background"
    />

    <div class="main--container">
      <h2>Get your own OctoProfile</h2>
      <user-search></user-search>
      <div class="quote--wrapper">
        <div class="quote">
          <p>
            OctoProfile gives a nicer look at your GitHub profile and
            repositories. With data visualizations of your languages and stars.
            You can sort through your repos by name, number of stars, forks and
            size. I built this tool so that anyone can showcase their GitHub
            profile in a clean and modern way.
          </p>
          <div class="trianlge"></div>
        </div>
        <div class="creator">
          <img src="assets/me.png" alt="Carlos Dubón" />
          <div class="text">
            <h3>Carlos Dubón</h3>
            <p class="title">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
