:host {
  @media (max-width: 1100px) {
    max-height: 205px;
  }
  @media (max-width: 900px) {
    max-height: 240px;
  }
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

.card {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 380px;
  max-width: 380px;
  min-width: 380px;
  @media (max-width: 1366px) {
    width: 364px;
    max-width: 364px;
    min-width: 364px;
  }
  @media (max-width: 1300px) {
    width: 348px;
    max-width: 348px;
    min-width: 348px;
  }
  @media (max-width: 1200px) {
    width: 314px;
    max-width: 314px;
    min-width: 314px;
  }
  @media (max-width: 1100px) {
    width: 380px;
    max-width: 380px;
    min-width: 380px;
  }
  @media (max-width: 900px) {
    width: 336px;
    max-width: 336px;
    min-width: 336px;
  }
  box-sizing: border-box;
  padding: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    transform: translateY(-3px);
  }
  h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #18191f;
    margin-bottom: 5px;
    @media (max-width: 1200px) {
      white-space: nowrap;
      overflow: hidden;
      max-width: 18ch;
      text-overflow: ellipsis;
    }
    @media (max-width: 1100px) {
      white-space: inherit;
      overflow: inherit;
      max-width: inherit;
      text-overflow: inherit;
    }
    @media (max-width: 900px) {
      white-space: nowrap;
      overflow: hidden;
      max-width: 18ch;
      text-overflow: ellipsis;
    }
  }
  .description {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #18191f;
    margin-bottom: 13px;
    @media (max-width: 1200px) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    @media (max-width: 1100px) {
      overflow: inherit;
      display: inherit;
      -webkit-line-clamp: inherit;
      -webkit-box-orient: inherit;
    }
    @media (max-width: 900px) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .stats {
    display: flex;
    gap: 0.6em;

    @media (max-width: 1200px) {
      align-items: flex-end;
      flex-wrap: wrap;
    }
    @media (max-width: 1100px) {
      align-items: inherit;
      flex-wrap: inherit;
    }
    @media (max-width: 900px) {
      align-items: flex-end;
      flex-wrap: wrap;
    }

    .language,
    .stars,
    .forks,
    .size {
      display: flex;
      align-items: center;
      padding: 0 9px;
      height: 28px;
      background: #f4f5f7;
      border-radius: 115px;
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #000000;
      }
    }

    .language {
      p {
        white-space: nowrap;
        overflow: hidden;
        max-width: 9ch;
        text-overflow: ellipsis;
      }
      .bullet {
        display: flex;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .stars {
      .star {
        display: flex;
        width: 13px;
        margin-right: 5px;
      }
    }
    .forks {
      .fork {
        display: flex;
        width: 8px;
        margin-right: 5px;
      }
    }
  }
}

.spacer {
  flex-grow: 1;
}
