@import "./../../../styles/colors";
@import "./../../../styles/mixins";

.browse__repos--section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d5fafc;
  margin: 100px 0 0 0;
  .container {
    @include flexCenter();
    flex-direction: column;
    padding: 60px 0;
  }
}

.header {
  position: relative;
  z-index: 2;
  max-width: 540px;
  h2,
  p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: $gray900;
    @media (max-width: 800px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  p {
    font-weight: normal;
    font-size: 18px;
    @media (max-width: 800px) {
      font-size: 16px;
    }
    line-height: 32px;
    color: $gray900;
  }
}

.search--container {
  position: relative;
  z-index: 2;
  margin-top: 27px;
  width: 490px;
  @media (max-width: 800px) {
    width: 320px;
  }
  height: 64px;
  display: flex;
  align-items: center;
  padding: 22px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 5px;
  form {
    margin: 0 12px;
    height: 20px;
    width: 100%;
  }
  input {
    height: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    &::placeholder {
      color: $gray700;
    }
  }
  .delete {
    cursor: pointer;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
  .vertical--separator {
    background-color: #e7e7e9;
    min-width: 2px;
    width: 2px;
    height: 38px;
    margin-left: 22px;
  }
  .current__filter--box {
    cursor: pointer;
    margin-left: 22px;
    display: flex;
    align-items: center;
    user-select: none;
  }
  .current--filter {
    font-size: 16px;
    line-height: 24px;
    margin-right: 22px;
    font-weight: 400;
    user-select: none;
  }
  .select--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
  }
}

.rotate--animation__in {
  animation: fancyRotateIn 0.2s forwards ease-in-out;
}

.rotate--animation__out {
  animation: fancyRotateOut 0.2s forwards ease-in-out;
}

@keyframes fancyRotateIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fancyRotateOut {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.filter__options--wrapper {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -185px;

  padding: 8px 0;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 5px;

  animation: showMenu 0.2s ease-in-out forwards;
  .option {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #6e6d7a;
    &:hover {
      background-color: #e7e7e9;
    }
    &--active {
      font-weight: 500;
      color: #f64561;
    }
  }
}

.hide--dropdown__menu {
  animation: hideMenu 0.2s ease-in-out forwards;
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }
}

.pattern {
  @include flexCenter();
  position: absolute;
  transform: translateX(-110%);
  @media (max-width: 1366px) {
    transform: translateX(-90%);
  }
  @media (max-width: 900px) {
    transform: translateX(-60%);
  }
  @media (max-width: 800px) {
    transform: translateX(-50%) scale(0.85);
  }
}

.repositories--wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;
  .container {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    flex-wrap: wrap;
    @media (max-width: 1100px) {
      width: 788px;
    }
    @media (max-width: 900px) {
      width: 700px;
    }
    @media (max-width: 800px) {
      width: 336px;
    }
  }
}
.pagination--controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.no__repos__found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }
  .text {
    display: flex;
    gap: 0.6em;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
      padding: 0;
      color: #969bab;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
    }
  }
}

.spinner {
  margin-top: 50px;
  margin-bottom: 150px;
}
