<div class="main--wrapper">
  <div class="stat--wrapper">
    <img class="polygon" src="assets/polygon.svg" alt="polygon" />
    <div class="content">
      <h4>0</h4>
      <p>Repositories</p>
    </div>
  </div>

  <div class="stat--wrapper">
    <img class="polygon" src="assets/polygon.svg" alt="polygon" />
    <div class="content">
      <h4>0</h4>
      <p>Followers</p>
    </div>
  </div>

  <div class="stat--wrapper">
    <img class="polygon" src="assets/polygon.svg" alt="polygon" />
    <div class="content">
      <h4>0</h4>
      <p>Following</p>
    </div>
  </div>
</div>
