@import "./../../../shared/styles/_mixins.scss";
@import "./../../../shared/styles/_colors.scss";

:host {
  @include flexCenter();
  height: 255px;
  transform: translateY(-50%);
  margin-bottom: calc(-1 * 255px / 2);
}

$size: 255px;

.main--wrapper {
  display: flex;
  gap: 30px;
  .stat--wrapper {
    @include flexCenter();
    position: relative;
    width: $size;
    height: $size;
    .polygon {
      position: absolute;
      z-index: 13;
      width: $size;
      height: $size;
      -webkit-filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
      filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    }
    .content {
      position: absolute;
      z-index: 14;
      display: flex;
      flex-direction: column;
      align-items: center;
      h4,
      p {
        @include flexCenter();
        margin: 0;
        padding: 0;
      }
      h4 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: $gray900;
        text-align: center;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: $gray900;
        text-align: center;
      }
    }
  }
}
