<div class="circle-bg">
  <img src="assets/charts-circle-bg.svg" alt="bg" />
</div>
<div class="container">
  <div class="title--section">
    <h2>Some useful charts</h2>
    <p>Charts are a fun way to visualize data!</p>
  </div>
  <div class="charts--wrapper">
    <div
      class="chart--card"
      data-aos="fade-up"
      attr.data-aos-duration="AOSDuration"
    >
      <div class="card--heading">
        <h4>Top Languages</h4>
        <p>Your most used languages</p>
      </div>
      <div class="chart">
        <div *ngIf="loadingRepos; else topLanaguages">
          <spinner></spinner>
        </div>
      </div>
    </div>
    <div
      class="chart--card"
      data-aos="fade-up"
      attr.data-aos-duration="AOSDuration"
      data-aos-delay="300"
    >
      <div class="card--heading">
        <h4>Most starred</h4>
        <p>Your most starred repositories</p>
      </div>

      <div class="chart">
        <div *ngIf="loadingRepos; else mostStarred">
          <spinner></spinner>
        </div>
      </div>
    </div>
    <div
      class="chart--card"
      data-aos="fade-up"
      atrr.data-aos-duration="AOSDuration"
      data-aos-delay="600"
    >
      <div class="card--heading">
        <h4>Stars per Language</h4>
        <p>Number of stars per language</p>
      </div>
      <div class="chart">
        <div *ngIf="loadingRepos; else starsPerLanguage">
          <spinner></spinner>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #topLanaguages>
  <canvas
    *ngIf="topLanaguagesChartData; else noDataProvided"
    baseChart
    [data]="topLanaguagesChartData"
    [labels]="topLanaguagesChartLabels"
    chartType="pie"
    [options]="topLanguagesChartOptions"
    [colors]="topLanguagesChartColors"
  >
  </canvas>
</ng-template>

<ng-template #mostStarred>
  <canvas
    *ngIf="mostStarredReposCharData; else noDataProvided"
    baseChart
    [data]="mostStarredReposCharData"
    [labels]="mostStarredReposChartLabels"
    [options]="mostStarredReposChartOptions"
    [colors]="mostStarredReposChartColors"
    chartType="bar"
  >
  </canvas>
</ng-template>

<ng-template #starsPerLanguage>
  <canvas
    baseChart
    *ngIf="starsPerLanguageChartData; else noDataProvided"
    [data]="starsPerLanguageChartData"
    [options]="topLanguagesChartOptions"
    [labels]="starsPerLanguageChartLabels"
    [colors]="starsPerLanguageChartColors"
    chartType="doughnut"
  >
  </canvas>
</ng-template>

<ng-template #noDataProvided>
  <p [ngStyle]="{ color: '#969bab', cursor: 'default', 'user-select': 'none' }">
    No data provided
  </p>
</ng-template>
