@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "app/main/shared/styles/colors";
@import "app/main/shared/styles/mixins";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1196px;
}

.btn {
  @mixin button {
    text-decoration: none;
    height: 40px;
    width: fit-content;
    @include flexCenter();
    font-weight: 500;
    font-size: 14px;
    padding: 0 1.25em;
    border-radius: 6px;
  }
  &--primary {
    @include button();
    background-color: $purple;
    color: #ffffff;
  }
  &--secondary {
    @include button();
    background-color: $purple100;
    color: $purple;
  }
}

.pagination--controls {
  margin-top: 53px;
  user-select: none;
  ul {
    height: 44px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.8em;
    li {
      cursor: pointer;
    }
    .page-item {
    }

    .first-item,
    .last-item {
      font-weight: 500;
      font-size: 15px;
      color: #8c30f5;
      margin: 0 1.1em;
      a {
        display: flex;
        align-items: center;
        height: 30px;
      }
    }
    .first-item {
      display: flex;
      a::before {
        content: "";
        background-image: url("assets/pagination-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
        margin-right: 8.8px;
        width: 18.33px;
        height: 11.67px;
      }
    }
    .last-item {
      display: flex;
      a::after {
        content: "";
        background-image: url("assets/pagination-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(0deg);
        margin-left: 8.8px;
        width: 18.33px;
        height: 11.67px;
      }
    }
    .previous-item {
      display: none;
    }
    .next-item {
      display: none;
    }
    .number-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #f1e4ff;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #8c30f5;
    }
    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .disabled {
      cursor: not-allowed;
      animation: disableElement 0.1s ease-in-out forwards;
    }
    .active {
      animation: activePage 0.2s ease-in-out forwards;
    }
  }
}

@keyframes disableElement {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.3);
  }
}

@keyframes activePage {
  0% {
    color: #8c30f5;
    background: #f1e4ff;
  }
  100% {
    transform: scale(1.1);
    background: #8c30f5;
    color: #ffffff;
  }
}
