<div class="circle-bg">
  <img src="assets/charts-circle-bg.svg" alt="bg" />
</div>
<div class="container">
  <div class="title--section">
    <h2>Some useful charts</h2>
    <p>Charts are a fun way to visualize data!</p>
  </div>
  <div class="charts--wrapper">
    <div class="chart--card">
      <div class="card--heading">
        <h4>Top Languages</h4>
        <p>Your most used languages</p>
      </div>
      <div class="chart">
        <canvas
          *ngIf="topLanaguagesChartData"
          baseChart
          [data]="topLanaguagesChartData"
          [labels]="topLanaguagesChartLabels"
          chartType="pie"
          [options]="topLanguagesChartOptions"
          [colors]="topLanguagesChartColors"
        >
        </canvas>
      </div>
    </div>
    <div class="chart--card">
      <div class="card--heading">
        <h4>Most starred</h4>
        <p>Your most starred repositories</p>
      </div>
      <div class="chart">
        <canvas
          *ngIf="mostStarredReposCharData"
          baseChart
          [data]="mostStarredReposCharData"
          [labels]="mostStarredReposChartLabels"
          [options]="mostStarredReposChartOptions"
          [colors]="mostStarredReposChartColors"
          chartType="bar"
        >
        </canvas>
      </div>
    </div>
    <div class="chart--card">
      <div class="card--heading">
        <h4>Stars per Language</h4>
        <p>Number of stars per language</p>
      </div>
      <div class="chart">
        <canvas
          baseChart
          *ngIf="starsPerLanguageChartData"
          [data]="starsPerLanguageChartData"
          [options]="topLanguagesChartOptions"
          [labels]="starsPerLanguageChartLabels"
          [colors]="starsPerLanguageChartColors"
          chartType="doughnut"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
