<div class="container">
  <div class="title--section">
    <h2>Some useful charts</h2>
    <p>Charts are a fun way to visualize data!</p>
  </div>
  <div class="charts--wrapper">
    <div class="chart--card">
      <div class="card--heading">
        <h4>Top Languages</h4>
        <p>Your most used languages</p>
      </div>
      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="topLanguagesChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
        >
        </canvas>
      </div>
    </div>
    <div class="chart--card">
      <div class="card--heading">
        <h4>Most starred</h4>
        <p>Your most starred languages</p>
      </div>
    </div>
    <div class="chart--card">
      <div class="card--heading">
        <h4>Stars per Language</h4>
        <p>Number of stars per language</p>
      </div>
    </div>
  </div>
</div>
